* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  background-image: url(../img/Layer\ 13.png);
  height: 500px;
  width: 1170px;
  margin: 0 auto;
}
.logo {
  margin: 25px 15px;
}
.menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  list-style: none;
  color: white;
}
.nav li a {
  text-transform: uppercase;
  text-decoration: none;
}
.nav li {
  margin: 15px 15px;
  transition: 0.4s;

  cursor: pointer;
}
.nav li:hover {
  background-color: orange;
  color: white;
  border-radius: 5px;
}

h2 {
  text-align: center;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.container__1 {
  width: 1170px;
  margin: 0 auto;
}
.content__2 {
  color: white;
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: #130e27;
}
.footer {
  width: 1170px;
  margin: 0 auto;
}
.content__5 {
  background-color: #130e27;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
